<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>

    <%= javascript_include_tag "flatlove/core/jquery/jquery.js" %>
    <%= javascript_include_tag "flatlove/core/bootstrap/bootstrap.js" %>
    <%= javascript_include_tag "flatlove/plugins/counterup.min.js" %>
    <%= javascript_include_tag "flatlove/plugins/countdown.min.js" %>
    <%= javascript_include_tag "flatlove/plugins/waypoints.min.js" %>
    <%= javascript_include_tag "flatlove/plugins/wow.min.js" %>
    <%= javascript_include_tag "flatlove/plugins/validator.min.js" %>
    <%= javascript_include_tag "flatlove/plugins/owlcarousel.min.js" %>
    <%= javascript_include_tag "flatlove/plugins/parallax.min.js" %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag "flatlove/plugins/gmap.js" %>
    <%= javascript_include_tag "flatlove/plugins/retina.min.js" %>
    <%= javascript_include_tag "flatlove/scripts.js" %>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
