
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#onepage-nav">
        <i class="fa fa-bars"></i>
      </button>
      <!-- <a class="navbar-brand" href="index.html" title="FlatLove">
        <img class="logo" alt="FlatBook" src="/images/flatlove/logo.png">
      </a> -->
    </div>
    <div class="collapse navbar-collapse" id="onepage-nav">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Accueil', '/' %>
        </li>
        <li>
          <%= link_to 'Le Couple', root_path, :fragment => 'the-couple' %>
        </li>
        <li>
          <%= link_to 'Photos', root_path, :fragment => 'our-photos' %>
        </li>
        <li>
          <%= link_to 'Rsvp', root_path, :fragment => 'rsvp' %>
        </li>
        <li>
          <%= link_to 'Évènements', 'events'%>
        </li>
        <li>
          <%= link_to 'Nous contacter', 'contact'%>
        </li>
      </ul>
    </div>
  </div>
</nav>
